/**
* @desc         button ui styles.
* @requires     variables, placeholders
*/

.button {
    @extend %flex-row;
    @extend %flex-center;
    gap: $fs-xxsmall;

    margin: 0;
    padding: $button-default-padding;

    border-radius: $border-radius-small;

    background: transparent;


    font-weight: 500;
    line-height: 20px;
    list-style: none;
    text-align: center;
    text-decoration: none;

    cursor: pointer;

    transition: all .1s ease-in-out;

    &--primary {
        font-family: $ff-bold;

        border: $primary-border;

        filter: drop-shadow(4px 4px 5px rgba(213, 255, 64, 0.25));

        color: $text-primary-color;

        svg {
            path {
                fill: $primary-color;
            }
        }

        &:hover,
        &:focus {
            background-color: $border-primary-color;

            color: $text-muted-color;

            svg {
                path {
                    fill: $light-color;
                }
            }
        }
    }

    &--highlight {
        font-family: $ff-regular;
        font-size: $fs-regular;

        color: $text-secondary-color;

        &-active {
            border: $border-highlight-color;

            background-color: $highlight-color;

            color: $text-light-color;

        }
    }
}
