/**
* @desc         set up variables.
* @requires     none
*/

// [color - variables]
// branding
$primary-color: #D5FF40;
$secondary-color: #84878A;
$light-color: #ffffff;
$danger-color: #F92626;
$success-color: #26F93B;
$info-color: #275ECE;
$muted-color: #1C1D1F;

// transparent
$transparent-color: transparent;


// font size
$fs-xsmall: 0.6rem;
$fs-small: 1.2rem;
$fs-regular: 1.8rem; // -> base size
$fs-medium: 2.4rem;
$fs-large: 3.2rem;
$fs-massive: 4.5rem;

// [element colors]

// inputs
$input-background-color: $light-color;
$input-max-width: 62rem;

// webkit
$webkit-bg: rgba($info-color, .5);


// [text - variables]
// text colors
$text-primary-color: $primary-color;
$text-secondary-color: $secondary-color;
$text-light-color: $light-color;
$text-danger-color: $danger-color;
$text-success-color: $success-color;
$text-info-color: $info-color;
$text-muted-color: $muted-color;

// font family
$ff-black: "NeueMachinaBlack", sans-serif;
$ff-ultrabold: "NeueMachinaUltrabold", sans-serif;
$ff-bold: "NeueMachinaBold", sans-serif;
$ff-medium: "NeueMachinaMedium", sans-serif;
$ff-regular: "NeueMachinaRegular", sans-serif;
$ff-light: "NeueMachinaLight", sans-serif;
$ff-ultralight: "NeueMachinaUltralight", sans-serif;
$ff-code: Consolas, Monaco, "Lucida Console", monospace;

// font weights
$font-w-light: 300;
$font-w-regular: 400;
$font-w-medium: 500;
$font-w-semi-bold: 600;

// inline hights
$base-line-height: normal;

// [border - variables]
// border colors
$border-primary-color: $primary-color;
$border-white-color: $light-color;

// border radius
$border-radius-regular: 15px;
$border-radius-large: 35px;
$border-radius-circle: 100%;

// [action - variables]
// hover
$primary-hover-color-1: rgba($primary-color, 0.2);
$primary-hover-color-2: rgba($primary-color, 0.4);
$primary-hover-color-3: rgba($primary-color, 0.6);

// [breakpoints - variables]
$xxl:  1400px;
$xl:  1200px;
$lg:  992px;
$md:  768px;
$sm:  540px;
$xs:  360px;

// [margins and paddings - variables]
// paddings
$button-default-padding: $fs-xsmall $fs-small 0.8rem;
$button-square-padding: $fs-xsmall $fs-xsmall;
$layout-padding: $fs-large $fs-massive;

// [shadow - variables]
// shadows
$box-shadow-light: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.06);
$box-shadow-medium: 0 8px 11px rgba(0, 0, 0, 0.1), 0 9px 12px rgba(0, 0, 0, 0.2);
