/**
* @desc         set up variables.
* @requires     none
*/

// [color - variables]
// branding
$primary-color: #D5FF40;
$secondary-color: #84878A;
$light-color: #2b93c7;
$danger-color: #F92626;
$success-color: #26F93B;
$info-color: #275ECE;

// transparent
$transparent-color: transparent;

// grays
$gray-color-1: #f4f6f8;
$gray-color-2: #d2dae2;
$gray-color-3: #8c96a9;
$gray-color-4: #485460;
$gray-color-5: #333333;
$gray-color-6: #1d2b33;

// font size
$fs-small: 1.4rem;
$fs-regular: 1.6rem; // -> base size
$fs-large: 2.4rem;

// [element colors]

// inputs
$input-background-color: $light-color;
$input-border-color: $gray-color-2;
$input-placeholder-color: $gray-color-2;
$input-max-width: 62rem;

// webkit
$webkit-bg: rgba($info-color, .5);


// [text - variables]
// text colors
$text-primary-color: $primary-color;
$text-default-color: $gray-color-4;
$text-tone-light-color: $gray-color-2;
$text-toned-color: $gray-color-3;
$text-title-color: $gray-color-4;
$text-hover-color: $text-primary-color;
$text-white-color: $light-color;

// font family
$font-family-black: "NeueMachinaBlack", sans-serif;
$font-family-bold: "NeueMachinaBold", sans-serif;
$font-family-light: "NeueMachinaLight", sans-serif;
$font-family-medium: "NeueMachinaMedium", sans-serif;
$font-family-regular: "NeueMachinaRegular", sans-serif;
$font-family-ultrabold: "NeueMachinaUltrabold", sans-serif;
$font-family-ultralight: "NeueMachinaUltralight", sans-serif;

$font-family-code: Consolas, Monaco, "Lucida Console", monospace;

// font weights
$font-w-light: 300;
$font-w-regular: 400;
$font-w-medium: 500;
$font-w-semi-bold: 600;

// inline hights
$base-line-height: normal;

// [border - variables]
// border colors
$border-default-color: $gray-color-2;
$border-primary-color: $primary-color;
$border-white-color: $light-color;

// border radius
$border-radius-regular: 10px;
$border-radius-circle: 100%;

// [action - variables]
// hover
$primary-hover-color-1: rgba($primary-color, 0.2);
$primary-hover-color-2: rgba($primary-color, 0.4);
$primary-hover-color-3: rgba($primary-color, 0.6);

// [breakpoints - variables]
$xxl:  1400px;
$xl:  1200px;
$lg:  992px;
$md:  768px;
$sm:  540px;
$xs:  360px;

// [margins and paddings - variables]
// paddings
$button-square-padding: 5px 5px;
$navlink-padding-x: 0px;
$layout-padding-y: 1.25rem;

// [shadow - variables]
// shadows
$box-shadow-light: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.06);
$box-shadow-medium: 0 8px 11px rgba(0, 0, 0, 0.1), 0 9px 12px rgba(0, 0, 0, 0.2);
