/**
* @desc         api page styles.
* @requires     variables, placeholders
*/

.app {
    &--api-page {
        padding: $fs-large 0;

        background-size: 100%;

        main {
            margin-right: -$sidebar-width;

            @extend %dropped-webkit-scrollbar;
        }
    }
}
