/**
* @desc         set up variables.
* @requires     none
*/
/**
* @desc         overrides default bootstrap styles.
* @requires     none
*/
/**
* @desc         mixins of the app.
* @requires     variables.scss
*/
.table__row, .table__item, .header, .greeting__swiper, .greeting__statistics, main {
  align-items: center;
  justify-content: center;
}

.table__item:first-child {
  align-items: center;
  justify-content: start;
}

.table__row, .table__item, .header, .greeting__swiper, .greeting__statistics, .table, .trends, .greeting__about-us, .greeting__content, main {
  display: flex;
}

.table, .trends, .greeting__about-us, .greeting__content, main {
  flex-direction: column;
}

.greeting__content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

html ::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #84878A;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(6, 29, 65, 0.5);
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #061d41;
}

/**
* @desc         reset styles
* @requires     none
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time,
mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details,
figcaption, figure,
footer, header, hgroup,
menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

ol, ul, li {
  list-style-type: none !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

/**
* @desc         adds default text styles
* @requires     variables
*/
@font-face {
  font-family: "NeueMachinaBlack";
  src: local("NeueMachinaBlack"), url("../../assets/fonts/NeueMachina-Black.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NeueMachinaBold";
  src: local("NeueMachinaBold"), url("../../assets/fonts/NeueMachina-Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NeueMachinaLight";
  src: local("NeueMachinaLight"), url("../../assets/fonts/NeueMachina-Light.ttf") format("truetype");
}
@font-face {
  font-family: "NeueMachinaMedium";
  src: local("NeueMachinaMedium"), url("../../assets/fonts/NeueMachina-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NeueMachinaRegular";
  src: local("NeueMachinaRegular"), url("../../assets/fonts/NeueMachina-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NeueMachinaUltrabold";
  src: local("NeueMachinaUltrabold"), url("../../assets/fonts/NeueMachina-Ultrabold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NeueMachinaUltralight";
  src: local("NeueMachinaUltralight"), url("../../assets/fonts/NeueMachina-Ultralight.ttf") format("truetype");
  font-weight: normal;
}
body {
  line-height: normal;
  color: #D5FF40;
}

body,
input,
select,
textarea {
  font-family: "NeueMachinaRegular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
}

pre,
code {
  font-family: Consolas, Monaco, "Lucida Console", monospace;
}

/**
* @desc         app styles.
* @requires     variables, placeholders
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

body {
  height: 200vh;
  font-size: 1.8rem;
  font-family: "NeueMachinaRegular", sans-serif;
}

.app {
  display: flex;
  width: 100%;
  background: url("../../assets/images/appBg-Image.png") center/cover no-repeat;
}

a {
  color: inherit;
}

main {
  position: relative;
  gap: 4.5rem;
  width: 100%;
}

section {
  width: 75%;
}

/**
* @desc         greeting module styles.
* @requires     variables, placeholders
*/
.greeting {
  width: 100%;
  height: 120vh;
  position: relative;
  outline: 1px solid red;
}
.greeting__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.greeting__content {
  gap: 2.4rem;
  width: 75%;
}
.greeting__about-us {
  padding: 3.2rem 4.5rem;
  border: 2px solid #D5FF40;
  border-radius: 35px;
  background: rgba(21, 24, 34, 0.3);
}
.greeting__description {
  margin-top: 1.2rem;
  color: #ffffff;
}
.greeting__statistics {
  gap: 2.4rem;
}
.greeting__statistic {
  text-align: center;
}
.greeting__card {
  text-align: center;
}
.greeting__card-img {
  width: 100%;
  height: 100%;
}
.greeting__card-title {
  color: #84878A;
}

/**
* @desc         trends module styles.
* @requires     variables, placeholders
*/
.trends {
  gap: 1.8rem;
}

/**
* @desc         header component styles.
* @requires     variables, placeholders
*/
.header {
  gap: 1.2rem;
}
.header__title {
  font-family: "NeueMachinaBold", sans-serif;
  color: #D5FF40;
}
.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  font-family: "NeueMachinaMedium", sans-serif;
  color: #84878A;
  transition: all 0.3s ease;
}
.header__button {
  font-size: calc(1.8rem * 1);
}

/**
* @desc         table component styles.
* @requires     variables, placeholders
*/
.table {
  margin: 0 auto;
  width: 100%;
  font-size: 1.6rem;
  color: #ffffff;
}
.table__row {
  padding: 1.8rem 0;
  border-radius: 15px;
  transition: background-color 0.1s ease-in;
}
.table__row--heading {
  font-weight: bold;
}
.table__row:hover {
  cursor: pointer;
  background-color: rgba(39, 94, 206, 0.3);
}
.table__item {
  flex: 1;
  gap: 1.2rem;
}
.table__item:first-child {
  padding-left: 0.6rem;
}
.table__item--long {
  flex-grow: 0;
  flex-basis: 25%;
}
.table__item--danger {
  color: #F92626;
}
.table__item--success {
  color: #26F93B;
}
.table__img {
  width: 4.5rem;
}

/**
* @desc         title component styles.
* @requires     variables
*/
.title {
  margin: 0 !important;
  line-height: 4.5rem;
  font-size: 4.5rem;
  font-family: "NeueMachinaBlack", sans-serif;
}

/**
* @desc         button ui styles.
* @requires     variables
*/
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.6rem 1.6rem 0.8rem;
  border: 2px solid #D5FF40;
  filter: drop-shadow(4px 4px 5px rgba(213, 255, 64, 0.25));
  border-radius: 15px;
  background: transparent;
  color: #D5FF40;
  font-family: "NeueMachinaBold", sans-serif;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button svg path {
  fill: #D5FF40;
}
.button:hover, .button:focus {
  background-color: #D5FF40;
  color: #1C1D1F;
}
.button:hover svg path, .button:focus svg path {
  fill: #ffffff;
}

/*# sourceMappingURL=main.css.map */
