/**
* @desc         set up variables.
* @requires     none
*/
/**
* @desc         overrides default bootstrap styles.
* @requires     none
*/
/**
* @desc         mixins of the app.
* @requires     variables.scss
*/
.button, .heading__content, .header, .api-service__content, .watch-list-card__user, .chart-data-item--center, .greeting__swiper, .greeting__statistics, .table--mints-live .table__sub-item, .table__item:not(.table__item--content-start), main {
  align-items: center;
  justify-content: center;
}

.button, .collapse-tabs, .heading__content, .heading, .header, .watch-list-card__user, .watch-list-card__row, .chart-data-item, .chart-values--horizontal, .chart--line, .win-rate__item, .portfolio__card--horizontal, .portfolio__statistics, .greeting__swiper, .greeting__statistics, .table--mints-live .table__sub-item, .table__row, .table__item, .api-service__content, .watch-list-card__content, .watch-list-card, .chart-data, .chart-values--vertical, .win-rate, .portfolio__card--content-bottom, .portfolio__card--vertical, .greeting__about-us, .greeting__content, .table--mints-live .table__row:not(:first-child) .table__item, .table--portfolio-balances .table__item, .table, .portfolio, .trends, .watch-list, .mints, main {
  display: flex;
}

.api-service__content, .watch-list-card__content, .watch-list-card, .chart-data, .chart-values--vertical, .win-rate, .portfolio__card--content-bottom, .portfolio__card--vertical, .greeting__about-us, .greeting__content, .table--mints-live .table__row:not(:first-child) .table__item, .table--portfolio-balances .table__item, .table, .portfolio, .trends, .watch-list, .mints, main {
  flex-direction: column;
}

.greeting__content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

html ::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #84878A;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(6, 29, 65, 0.5);
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #061d41;
}

/**
* @desc         reset styles
* @requires     none
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time,
mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details,
figcaption, figure,
footer, header, hgroup,
menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

ol, ul, li {
  list-style-type: none !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

/**
* @desc         adds default text styles
* @requires     variables
*/
@font-face {
  font-family: "NeueMachinaBlack";
  src: local("NeueMachinaBlack"), url("../../assets/fonts/NeueMachina-Black.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NeueMachinaBold";
  src: local("NeueMachinaBold"), url("../../assets/fonts/NeueMachina-Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NeueMachinaLight";
  src: local("NeueMachinaLight"), url("../../assets/fonts/NeueMachina-Light.ttf") format("truetype");
}
@font-face {
  font-family: "NeueMachinaMedium";
  src: local("NeueMachinaMedium"), url("../../assets/fonts/NeueMachina-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NeueMachinaRegular";
  src: local("NeueMachinaRegular"), url("../../assets/fonts/NeueMachina-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NeueMachinaUltrabold";
  src: local("NeueMachinaUltrabold"), url("../../assets/fonts/NeueMachina-Ultrabold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NeueMachinaUltralight";
  src: local("NeueMachinaUltralight"), url("../../assets/fonts/NeueMachina-Ultralight.ttf") format("truetype");
  font-weight: normal;
}
body {
  line-height: normal;
  color: #ffffff;
}

body,
input,
select,
textarea {
  font-family: "NeueMachinaRegular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
}

pre,
code {
  font-family: Consolas, Monaco, "Lucida Console", monospace;
}

/**
* @desc         app styles.
* @requires     variables, placeholders
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

body {
  height: 200vh;
  font-size: 1.8rem;
  font-family: "NeueMachinaRegular", sans-serif;
}

.app {
  display: flex;
  width: 100%;
  background: url("../../assets/images/AppBg-Image.png") center/cover no-repeat;
}

a {
  color: inherit;
}

main {
  position: relative;
  gap: 4.8rem;
  width: 100%;
}

section {
  width: 78%;
}

.text--success {
  color: #26F93B;
}
.text--danger {
  color: #F92626;
}
.text--secondary {
  color: #84878A;
}
.text--bold {
  font-weight: 600;
}

.portfolio, .trends, .watch-list, .mints {
  gap: 1.8rem;
}

/**
* @desc         table component styles.
* @requires     variables, placeholders
*/
.table {
  margin: 0 auto;
  width: 100%;
  font-size: 1.6rem;
  color: #ffffff;
}
.table__row {
  border-radius: 15px;
  transition: background-color 0.1s ease-in;
}
.table__row:first-child:hover {
  background-color: transparent;
}
.table__row:hover {
  cursor: pointer;
  background-color: rgba(39, 94, 206, 0.3);
}
.table__row--heading {
  font-weight: bold;
}
.table__item {
  gap: 1.2rem;
}
.table__item:first-child {
  padding-left: 0.6rem;
}
.table__item:nth-child(2) {
  text-align: center;
}
.table__item--danger {
  color: #F92626;
}
.table__item--success {
  color: #26F93B;
}
.table__img {
  width: 3.8rem;
}

/**
* @desc         table component variants.
* @requires     variables, placeholders
*/
.table--trends .table__row {
  padding: 1.8rem 0;
}
.table--trends .table__item:nth-child(1) {
  width: 40%;
}
.table--trends .table__item:nth-child(2) {
  width: 20%;
}
.table--trends .table__item:nth-child(3) {
  width: 20%;
}
.table--trends .table__item:nth-child(4) {
  width: 20%;
}
.table--trends .table__item:nth-child(5) {
  width: 10%;
}
.table--trends .table__item:nth-child(6) {
  width: 20%;
}
.table--trends .table__item:nth-child(7) {
  width: 10%;
}
.table--trends .table__item:nth-child(8) {
  width: 20%;
}
.table--collection, .table--items {
  justify-content: space-between;
}
.table--collection .table__row, .table--items .table__row {
  padding: 0.6rem 0;
}
.table--collection .table__item:nth-child(1) {
  width: 80%;
}
.table--collection .table__item:nth-child(2) {
  width: 20%;
}
.table--collection .table__item:nth-child(3) {
  width: 20%;
}
.table--collection .table__item:nth-child(4) {
  width: 20%;
}
.table--collection .table__item:nth-child(5) {
  width: 20%;
}
.table--items .table__item:nth-child(1) {
  width: 40%;
}
.table--items .table__item:nth-child(2) {
  width: 30%;
}
.table--items .table__item:nth-child(3) {
  width: 30%;
}
.table--items .table__item:nth-child(4) {
  width: 30%;
}
.table--items .table__item:nth-child(5) {
  width: 30%;
}
.table--portfolio-balances .table__row {
  gap: 1.2rem;
  padding: 1.2rem 3.8rem 1.2rem 0;
}
.table--portfolio-balances .table__row:hover {
  background-color: transparent;
}
.table--mints-top .table__row {
  justify-content: space-between;
  padding: 1.2rem 0;
}
.table--mints-top .table__row:first-child .table__item:first-child {
  justify-content: space-around !important;
}
.table--mints-top .table__item:nth-child(1) {
  width: 25%;
}
.table--mints-top .table__item:nth-child(2) {
  width: 9%;
}
.table--mints-top .table__item:nth-child(3) {
  width: 9%;
}
.table--mints-top .table__item:nth-child(4) {
  width: 9%;
}
.table--mints-top .table__item:nth-child(5) {
  width: 9%;
}
.table--mints-top .table__item:nth-child(6) {
  width: 9%;
}
.table--mints-top .table__item:nth-child(7) {
  width: 9%;
}
.table--mints-live .table {
  justify-content: space-between;
}
.table--mints-live .table__row {
  gap: 1.2rem;
  padding: 1.2rem;
}
.table--mints-live .table__row:not(:first-child) .table__item:nth-child(2) {
  align-items: flex-start;
  width: 100%;
}
.table--mints-live .table__row:not(:first-child) .table__item:nth-child(3) {
  justify-content: flex-end;
}
.table--mints-live .table__sub-item {
  gap: 1.2rem;
}

/**
* @desc         greeting module styles.
* @requires     variables, placeholders
*/
.greeting {
  width: 100%;
  height: 120vh;
  position: relative;
}
.greeting__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.greeting__content {
  gap: 2.4rem;
  width: 78%;
}
.greeting__about-us {
  padding: 3.2rem 3.8rem;
  border: 2px solid #D5FF40;
  border-radius: 35px;
  background: rgba(21, 24, 34, 0.3);
}
.greeting__description {
  margin-top: 1.2rem;
  color: #ffffff;
}
.greeting__statistics {
  gap: 2.4rem;
}
.greeting__statistic {
  text-align: center !important;
}
.greeting__card {
  text-align: center;
}
.greeting__card-img {
  width: 100%;
  height: 100%;
}
.greeting__card-title {
  color: #84878A;
}

/**
* @desc         portfolio module styles.
* @requires     variables, placeholders
*/
.portfolio__statistics {
  justify-content: space-between;
}
.portfolio__collapse {
  display: grid;
  grid-template-columns: 0.8fr 1.5fr;
  gap: 1.8rem;
}
.portfolio__card {
  position: relative;
  width: 100%;
  height: 30rem;
  margin-top: 1.2rem;
  padding: 1.8rem 1.6rem;
  border: 2px solid #84878A;
  border-radius: 25px;
}
.portfolio__card--vertical {
  justify-content: space-between;
}
.portfolio__card--horizontal {
  justify-content: space-between;
}
.portfolio__card--content-bottom {
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1.8rem 10rem 1.8rem 1.6rem;
}

/**
* @desc         portfolio module styles.
* @requires     variables, placeholders
*/
.win-rate__item {
  justify-content: space-between;
  gap: 3.8rem;
}

/**
* @desc         portfolio module styles.
* @requires     variables, placeholders
*/
.chart__graph {
  width: 20rem;
  height: 14rem;
  background: #D9D9D9;
  border-radius: 15px;
}
.chart--line {
  flex-wrap: wrap;
  gap: 1.2rem;
  text-align: center;
}
.chart--bar {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 16rem;
  height: 16rem;
}

.chart-values--horizontal {
  justify-content: flex-end;
  gap: 2.4rem;
  margin-bottom: 1.2rem;
  padding-right: 1.6rem;
}
.chart-values--vertical {
  justify-content: flex-end;
  gap: 1.6rem;
}

.chart-data {
  gap: 0.6rem;
  overflow: hidden;
  white-space: nowrap;
}

.chart-data-item {
  gap: 0.6rem;
}
.chart-data-item--left {
  align-items: center;
}

.chart-data-color {
  width: 1.6rem;
  height: 1.6rem;
}
.chart-data-color--primary {
  background: #D5FF40;
}
.chart-data-color--highlight {
  background: #275ECE;
}
.chart-data-color--highlight-light {
  background: rgba(39, 94, 206, 0.5);
}
.chart-data-color--highlight-dark {
  background: rgba(39, 94, 206, 0.2);
}

.chart-data-title {
  word-break: keep-all;
}

/**
* @desc         trends module styles.
* @requires     none
*/
/**
* @desc         watch-list module styles.
* @requires     none
*/
.watch-list-card {
  align-items: center;
  gap: 0.6rem;
  width: 100%;
}
.watch-list-card__content {
  gap: 1.2rem;
  width: 95%;
  margin-top: -8%;
  padding: 1.8rem 1.2rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: rgba(132, 135, 138, 0.2);
}
.watch-list-card__row {
  align-items: center;
  justify-content: space-between;
}
.watch-list-card__user {
  gap: 0.6rem;
}
.watch-list-card__img {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

/**
* @desc         portfolio module styles.
* @requires     variables, placeholders
*/
.mints__wrapper {
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  gap: 1.8rem;
}

/**
* @desc         greeting module styles.
* @requires     variables, placeholders
*/
.api-service__content {
  gap: 3.2rem;
}
.api-service__coming-soon {
  width: 90%;
  padding: 4.8rem;
  border: 2px solid #84878A;
  border-radius: 35px;
  text-align: center;
}
.api-service__img {
  width: 100%;
}

/**
* @desc         header component styles.
* @requires     variables, placeholders
*/
.header {
  gap: 1.2rem;
}
.header__title {
  font-family: "NeueMachinaBold", sans-serif;
  color: #D5FF40;
}
.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  font-family: "NeueMachinaMedium", sans-serif;
  color: #84878A;
  transition: all 0.3s ease;
}
.header__button {
  font-size: calc(1.8rem * 1);
}

/**
* @desc         heading component styles.
* @requires     variables, placeholders
*/
.heading {
  justify-content: space-between;
  margin: 0 !important;
  line-height: 3.8rem;
}
.heading__title {
  width: 100%;
}
.heading__title--big {
  font-family: "NeueMachinaBlack", sans-serif;
  font-size: 4.8rem;
  color: #D5FF40;
}
.heading__title--small {
  margin-top: 1.8rem;
  margin-left: 1.2rem;
  font-family: "NeueMachinaRegular", sans-serif;
  font-size: 2.4rem;
  color: #ffffff;
}
.heading__content {
  gap: 1.2rem;
  color: #ffffff;
}
.heading__win-rate-value {
  padding: 0 1.2rem;
  border-radius: 9px;
  background: rgba(38, 249, 59, 0.3);
  color: #26F93B;
}

/**
* @desc         collapse-tabs component styles.
* @requires     variables, placeholders
*/
.collapse-tabs {
  gap: 3.2rem;
  margin-top: 3.8rem;
}

/**
* @desc         button ui styles.
* @requires     variables, placeholders
*/
.button {
  gap: 0.6rem;
  margin: 0;
  padding: 0.6rem 1.6rem 0.8rem;
  border-radius: 15px;
  background: transparent;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button--primary {
  font-family: "NeueMachinaBold", sans-serif;
  border: 2px solid #D5FF40;
  filter: drop-shadow(4px 4px 5px rgba(213, 255, 64, 0.25));
  color: #D5FF40;
}
.button--primary svg path {
  fill: #D5FF40;
}
.button--primary:hover, .button--primary:focus {
  background-color: #D5FF40;
  color: #1C1D1F;
}
.button--primary:hover svg path, .button--primary:focus svg path {
  fill: #ffffff;
}
.button--highlight {
  font-family: "NeueMachinaRegular", sans-serif;
  font-size: 1.8rem;
  color: #84878A;
}
.button--highlight-active {
  border: #275ECE;
  background-color: #275ECE;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
