/**
* @desc         app styles.
* @requires     variables, placeholders
*/

*,
*::before,
*::after {
    box-sizing: border-box
}

:root {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

html {
    @extend %webkit-scrollbar;
}

body {
    height: 200vh;

    font-size: $fs-regular;
    font-family: $ff-regular;
}

.app {
    display: flex;

    width: 100%;

    background: url("../../assets/images/appBg-Image.png") center/cover no-repeat;
}

a {
    color: inherit;
}

main {
    position: relative;

    @extend %flex-column;
    @extend %flex-center;
    gap: $fs-massive;

    width: 100%;
}

section {
    width: $content-width;
}
