/**
* @desc         app styles.
* @requires     variables.scss
*/

*,
*::before,
*::after {
    box-sizing: border-box
}

:root {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

html {
    @extend %webkit-scrollbar;
}

body {
    height: 200vh;

    font-size: $fs-regular;
    font-family: $ff-regular;
}

.app {
    display: flex;

    width: 100%;
}

a {
    color: inherit;
}

main {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
}
