/**
* @desc         table component styles.
* @requires     variables, placeholders
*/

.table {
    @extend %flex-column;
    //justify-content: space-between;

    margin: 0 auto;

    width: 100%;

    font-size: $fs-small;
    color: $light-color;

    &__row, &__item {
        @extend %flex-row;
        @extend %flex-center;
    }

    &__row {
        border-radius: $border-radius-small;

        transition: background-color .1s ease-in;

        &--heading {
            font-weight: bold;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(39, 94, 206, 0.3);
        }
    }

    &__item {
        gap: $fs-xsmall;

        &:first-child {
            @extend %flex-start;
            padding-left: $fs-xxsmall;
        }

        &--danger {
            color: $danger-color;
        }

        &--success {
            color: $success-color;
        }
    }

    &__img {
        width: $fs-massive;
    }

    &--trends {
        .table {
            &__row {
                padding: $table-padding;
            }

            &__item {
                &:nth-child(1) {width: 40%;}
                &:nth-child(2) {width: 20%;}
                &:nth-child(3) {width: 20%;}
                &:nth-child(4) {width: 20%;}
                &:nth-child(5) {width: 10%;}
                &:nth-child(6) {width: 20%;}
                &:nth-child(7) {width: 10%;}
                &:nth-child(8) {width: 20%;}
            }
        }
    }

    &--collection, &--items {
        justify-content: space-between;

        .table__row {
                padding: $fs-xxsmall 0;
        }
    }
    &--collection {
        .table__item {
                &:nth-child(1) {width: 80%;}
                &:nth-child(2) {width: 20%;}
                &:nth-child(3) {width: 20%;}
                &:nth-child(4) {width: 20%;}
                &:nth-child(5) {width: 20%;}
        }
    }

    &--items {
        .table__item {
                &:nth-child(1) {width: 40%;}
                &:nth-child(2) {width: 30%;}
                &:nth-child(3) {width: 30%;}
                &:nth-child(4) {width: 30%;}
                &:nth-child(5) {width: 30%;}
        }
    }

    &--portfolio-balances {
        .table {
            &__row {
                gap: $fs-xsmall;

                padding: $fs-xsmall $fs-massive $fs-xsmall 0;

                &:hover {
                    background-color: transparent;
                }
            }

            &__item {
                @extend %flex-column;
            }
        }
    }
}
