/**
* @desc         app styles.
* @requires     variables, placeholders
*/

*,
*::before,
*::after {
    box-sizing: border-box
}

:root {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

html {
    @extend %webkit-scrollbar;
}

body {
    overflow-x: hidden;
    font-size: $fs-regular;
    font-family: $ff-regular;
}

.app {
    @extend %flex-column;
    align-items: center;
    justify-content: space-between;
    gap: $fs-large;

    width: 100%;
    min-height: 100vh;

    background-image: url("../../assets/images/AppBgImage.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

a {
    color: inherit;
}

main {
    position: relative;

    @extend %flex-column;
    @extend %flex-center;
    gap: $fs-giant;

    width: 100%;
}

section {
    @extend %flex-column;
    gap: $fs-regular;

    width: $content-width;
}

.text {
    &--success {
        color: $success-color;
    }

    &--danger {
        color: $danger-color;
    }

    &--secondary {
        color: $secondary-color;
    }

    &--bold {
        font-weight: $fw-semi-bold;
    }
}

.portfolio, .trends, .watch-list, .mints, .api-service {

}
